/*
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-theme.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";
*/
body, html {
  padding: 0;
  margin: 0;
  background: #EEE;
}